<%include ./header.html%>
<%include ./sidebar.html%>
        <!-- ========== Left Sidebar Start ========== -->
       
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="page-title-box">
                    
                        <!-- end row -->
                    </div>
                    <!-- end page-title -->

                    <!-- START ROW -->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <div style="margin-bottom: 16px;">
                                        <a href="/list/add" class="btn btn-primary">添加商品</a>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">标题</th>
                                                    <th scope="col">副标题</th>
                                                    <th scope="col">价格</th>
                                                    <th scope="col">图片</th>
                                                    <th scope="col">状态</th>
                                                  
                                                    <th scope="col">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%for(let i=0;i < list.length;i++) {%>
                                                    <tr>
                                                        <td><%=list[i].title%></td>
                                                        <td><%=list[i].subtitle%></td>
                                                        <td><%=list[i].price%></td>
                                                        <td><img style="width: 120px; height: 100;" src="<%=list[i].url%>"/></td>
                                                        <td><%=list[i].status == 1 ? '激活':'禁止'%></td>
                                                        <td>
                                                            <div>
                                                                <a href="#" class="btn btn-primary btn-sm">编辑</a>
                                                                <a href="/list/delete?id=<%=list[i]._id%>" class="btn btn-danger btn-sm">删除</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                   <%}%>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END ROW -->

                </div>
                <!-- container-fluid -->

            </div>
            <!-- content -->
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <!-- jQuery  -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/metismenu.min.js"></script>
    <script src="/public/js/jquery.slimscroll.js"></script>
    <script src="/public/js/waves.min.js"></script>
    <script src="/public/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="/public/js/app.js"></script>

</body>

</html>